.home {
  display: flex;
}
.header {
  z-index: 1;

  display: flex;
  padding: 30px;
  box-shadow: 10px 11px 21px -18px #000000;
  flex-direction: column;
  justify-content: center;
  max-height: 90vh;
}

.btn {
  height: 25px;
  width: 177px;
  margin-top: 5px;
}
.patternImg {
  position: absolute;
  right: 0;
  display: none;
  border: dashed;

  width: 50px;
}

.onePattern {
  display: flex;
  align-items: center;
  // height: 70px;
  width: 255px;
  justify-content: space-between;
}
.onePattern:hover {
  .patternImg {
    display: block;
  }
}
.patterns {
  position: relative;
  // overflow: scroll;
}
.titlePattern {
  display: flex;
  justify-content: center;
  font-size: x-large;
  margin-top: 15px;
}
.grid {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 228, 228);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  max-width: 100vh;
  max-height: 100vw;

  box-shadow: 0px 0px 65px 16px rgba(0, 0, 0, 0.31);
  border-radius: 10px;
}
.line {
  height: 100%;
}
.element {
  border-radius: 10px;
}
.element:hover {
  background-color: rgb(11, 224, 3);
}
