.home {
  display: flex;
  height: 100vh;

  justify-content: space-evenly;
}
.header {
  // z-index: 1;
  display: flex;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 10px 11px 21px -18px #000000;
  flex-direction: column;
  max-width: 30%;
  // height: 100%;
  // max-height: 90vh;
}
.gridSize {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn {
  height: 25px;
  width: auto;
  margin-top: 5px;
}
.patternImg {
  position: absolute;
  right: 0;
  display: none;
  border: dashed;

  width: 50px;
}
#input {
  width: auto;
  height: 20px;
  margin-left: 5px;
}

.onePattern {
  display: flex;
  align-items: center;
  // height: 70px;
  width: 255px;
  justify-content: space-between;
}
.onePattern:hover {
  .patternImg {
    display: block;
  }
}
.patterns {
  position: retlative;
  // overflow: scroll;
}
.titlePattern {
  display: flex;
  justify-content: center;
  font-size: x-large;
  margin-top: 15px;
}
.aaagrid {
  position: relative;
  height: 100%;
  width: 100%;

  align-items: center;
}
.grid {
  display: flex;

  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: rgb(184, 184, 184);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100vh;
  max-height: 100vw;

  box-shadow: 0px 0px 65px 16px rgba(0, 0, 0, 0.31);
  border-radius: 10px;
}

.line {
  height: 100%;
  width: 100px;
}
.element {
  border-radius: 5px;
  // padding: 5px;
  // border: 1px solid rgb(180, 180, 180);
  box-shadow: inset 0px 0px 0px 1px rgb(184, 184, 184);
}
.white:hover {
  // -webkit-box-shadow: inset 0px 0px 0px 10px rgb(124, 124, 124);
  // -moz-box-shadow: inset 0px 0px 0px 10px #f00;
  box-shadow: inset 0px 0px 0px 5px rgb(184, 184, 184);
}

@media screen and (max-width: 1280px) {
  .home {
    // display: none;
    height: 100vh;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .header {
    max-width: 100%;
    padding: 30px;

    z-index: 1;
    margin-bottom: 10px;
    background-color: white;
  }
  .titlePattern {
    display: none;
  }
  .patterns {
    display: none;
  }

  .grid {
    max-width: 87vh;
  }
  .gridSize {
    justify-content: center;
  }
  .btn {
    width: 250px;

    margin: auto;
  }
}
